@use 'common' as *;
@use '@carbon/type';

.addressDisplay {
  @include panel-section;
  grid-column: 3 / 7;
  grid-template-rows: auto 1fr;
}

.title {
  grid-column: span 4;
  @include section-heading-base;
  letter-spacing: 2.4em; // Keep this for visual alignment
  padding-left: 2.4em; // Keep this for visual alignment
}

.cell {
  @include centered-cell;
}
