@use 'common' as *;

.addressDisplay {
  @include panel-section;
  grid-column: 3 / 7;
  grid-template-rows: auto 1fr;
  gap: 4px; // Match parent grid gap
}

.content {
  display: contents;
}

.title {
  grid-column: span 4;
  @include section-heading-base;
  @include spaced-text(2.4em);
}

.cell {
  @include centered-cell;
}
