@use 'common' as *;
@use '@carbon/type';

.container {
  display: inline-grid;
  grid-template-columns: auto auto auto;
  gap: 4px 4px;
  align-items: center;
  font-size: 14px;
}

.bulb {
  @include bulb;
}

.number {
  @include section-heading-base;
  @include type.type-style('heading-compact-01'); // Override compact-02 from base
}
