@use 'common' as *;

.container {
  display: inline-grid;
  grid-template-columns: auto auto auto;
  gap: 4px 4px;
  align-items: center;
  font-size: 14px;
}

.bulb {
  @include bulb;
}

.number {
  @include section-heading-base('heading-compact-01');
}
