.bulb {
  display: inline-grid;
  place-items: center;
  line-height: 1;
}

.unlit,
.lit {
  grid-area: 1 / 1;
}

.unlit {
  opacity: 1;
}

.lit {
  opacity: 0;
  transition: opacity 120ms linear;
}

.litOn {
  opacity: 1;
}
