@use 'common' as *;

.finalKnobsRow {
  grid-column: 1 / 12;
  position: relative;
  display: grid;
  grid-template-columns: subgrid;
  grid-template-rows: auto auto;
  background-color: $panel-bg;
  padding: 12px;
  gap: 12px;
  align-items: end;
}

.knobLabel {
  @include section-heading-base('heading-compact-01');
  font-size: $font-size-control;
  position: relative;

  &.programmed {
    grid-column: 1 / 2;
  }

  &.halfCycle {
    grid-column: 2 / 3;
  }

  &.addressSelection {
    grid-column: 3 / 7;
    letter-spacing: 0.6em;
  }

  &.control {
    grid-column: 7 / 8;
  }

  &.display {
    grid-column: 8 / 10;
  }

  &.overflow {
    grid-column: 10 / 11;
  }

  &.error {
    grid-column: 11 / 12;
  }
}

.displayKnob {
  justify-self: center;
}

.helpLayer {
  z-index: 20;
}

.programmedCell,
.halfCycleCell,
.addressSelectionCell,
.controlCell,
.displayCell,
.overflowCell,
.errorCell {
  position: relative;
}

.programmedCell {
  grid-column: 1 / 2;
}

.halfCycleCell {
  grid-column: 2 / 3;
}

.addressSelectionCell {
  grid-column: 3 / 7;
  display: grid;
  grid-template-columns: subgrid;
  gap: 12px;
}

.controlCell {
  grid-column: 7 / 8;
}

.displayCell {
  grid-column: 8 / 10;
}

.overflowCell {
  grid-column: 10 / 11;
}

.errorCell {
  grid-column: 11 / 12;
}
