@use 'common' as *;
@use '@carbon/type';

.labelBar {
  grid-column: 1 / 12;
  display: grid;
  grid-template-columns: subgrid;
  background-color: #002244;
  padding: 4px 0;
}

.labelDisplay {
  grid-column: 1 / 11;
  padding: 0 12px;
  @include section-heading-base;
  letter-spacing: 5em; // Re-added with the requested value
  padding-left: 5em;
}

.labelSign {
  grid-column: 11;
  padding: 0 12px;
  @include section-heading-base;
  letter-spacing: 0.6em; // Keep this for visual alignment
}

.digitGroup1 {
  @include panel-section;
  grid-column: 1 / 3;
}

.digitGroup2 {
  @include panel-section;
  grid-column: 3 / 7;
}

.digitGroup3 {
  @include panel-section;
  grid-column: 7 / 11;
}

.signGroup {
  @include panel-section;
  grid-column: 11;
  @include centered-cell;
}

.cell {
  @include centered-cell;
}
