@import 'common';

.labelBar {
  grid-column: 1 / 12;
  display: grid;
  grid-template-columns: subgrid;
  background-color: #002244;
  padding: 4px 0;
}

.labelDisplay {
  grid-column: 1 / 11;
  padding: 0 12px;
  color: white;
  font-size: 11px;
  font-weight: bold;
  letter-spacing: 5em;
  text-align: center;
  padding-left: 5em;
}

.labelSign {
  grid-column: 11;
  padding: 0 12px;
  color: white;
  font-size: 11px;
  font-weight: bold;
  letter-spacing: 0.6em;
  text-align: center;
}

.digitGroup1 {
  @include panel-section;
  grid-column: 1 / 3;
}

.digitGroup2 {
  @include panel-section;
  grid-column: 3 / 7;
}

.digitGroup3 {
  @include panel-section;
  grid-column: 7 / 11;
}

.signGroup {
  @include panel-section;
  grid-column: 11;
  @include centered-cell;
}

.cell {
  @include centered-cell;
}
