@use 'common' as *;

.knobsRow {
  @include panel-section;
  grid-column: 1 / 11;
  grid-template-rows: auto 1fr;
  align-items: stretch;
  position: relative;
}

.signKnobCell {
  @include panel-section;
  grid-column: 11;
  grid-template-rows: auto 1fr;
  justify-content: stretch;
  align-items: stretch;
  position: relative;
}

.helpLayer {
  z-index: 20;
}

.cell {
  @include centered-cell;
}

.storageEntryLabel {
  grid-column: 1 / 11;
  @include section-heading-base;
  @include spaced-text(2.4em);
  align-self: end;
}

.signLabel {
  @include section-heading-base;
  align-self: end;
}

.digitContainer {
  grid-column: 1 / 11;
  display: grid;
  grid-template-columns: subgrid;
  gap: 12px;
}
