@use 'common' as *;
@use '@carbon/type';

.knobsRow {
  @include panel-section;
  grid-column: 1 / 11;
  grid-template-rows: auto 1fr;
  align-items: stretch;
}

.signKnobCell {
  @include panel-section;
  grid-column: 11;
  grid-template-rows: auto 1fr;
  justify-content: stretch;
  align-items: stretch;
}

.cell {
  @include centered-cell;
}

.storageEntryLabel {
  grid-column: 1 / 11;
  @include section-heading-base;
  letter-spacing: 2.4em; // Keep this for visual alignment
  padding-left: 2.4em; // Keep this for visual alignment
  align-self: end;
}

.signLabel {
  @include section-heading-base;
  align-self: end;
}

.digitContainer {
  grid-column: 1 / 11;
  display: grid;
  grid-template-columns: subgrid;
  gap: 12px;
}
