@use 'common' as *;

.digitGroup1 {
  @include panel-section;
  grid-column: 1 / 3;
  grid-template-rows: auto 1fr;
}

.cell {
  @include centered-cell;
}

.title {
  grid-column: span 2;
  text-align: center;
  color: white;
  font-size: 10px;
  font-weight: bold;
  letter-spacing: 1.2em;
  padding-left: 1.2em;
}
