@use 'common' as *;
@use '@carbon/type';

.digitGroup1 {
  @include panel-section;
  grid-column: 1 / 3;
  grid-template-rows: auto 1fr;
}

.cell {
  @include centered-cell;
}

.title {
  grid-column: span 2;
  @include section-heading-base;
  letter-spacing: 0.4em; // Keep this for visual alignment
  padding-left: 0.4em; // Keep this for visual alignment
}
