@use 'common' as *;

.digitGroup1 {
  @include panel-section;
  grid-column: 1 / 3;
  grid-template-rows: auto 1fr;
}

.cell {
  @include centered-cell;
}

.title {
  grid-column: span 2;
  @include section-heading-base;
  @include spaced-text(0.4em);
}
