@use 'common' as *;
@use '@carbon/type';

.container {
  display: inline-grid;
  grid-template-columns: auto auto;
  gap: 4px 4px;
  align-items: center;
  font-size: 14px;
}

.bulb {
  @include bulb;

  &.hidden {
    visibility: hidden;
  }
}

.sign {
  @include section-heading-base;
  @include type.type-style('heading-compact-01'); // Override compact-02 from base
  color: white; // Ensure it remains white
  // text-align: center is already part of section-heading-base

  &.hidden {
    visibility: hidden;
  }
}
